{{!-- Main Page Layout --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Go The Distance</title>
</head>

<body>
    <header>
        <h1>Go The Distance Travel Budget</h1>
        <nav>
            <ul>
                {{#if loggedIn}}
                <li><button href='/' id='logout'>Log Out</button></li>
                {{else}}
                <li><a href='/login'>Login</a></li>
                <li><a href='/signup'>Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>