{{!-- If signed up you are brought here --}}

{{!-- Input details of holiday --}}


<!-- Holiday Input Container -->
<form>
    <p>Enter your Holiday Destination:
        <input class="input" type="text" id="destination-list">
    </p>
</form>

<!-- Holiday Dates -->
<div>
    <label for="start-date">When does your holiday start? </label>
    <input type="date" id="start-date" name="start-date">
</div>

<div>
    <label for="end-date">When does your holiday end? </label>
    <input type="date" id="end-date" name="end-date">

</div>

<!-- Total Budget Amount -->
<form>
    <p>Enter your Holiday Budget Amount:
        $ <input class="input is-rounded " type="number" id="holiday-budget-total">
    </p>
</form>

<button id="holiday-submit-button" class="button is-info">Submit</button>

<div id="holiday-budget-result"></div>


<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzeKsmf4v_Fu4sR7jyLifs-XZ4Qbd73VA&libraries=places&v=weekly"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/create-holiday.js"></script>