{{!-- After adding a Holiday you can choose to add an expense here --}}

{{!-- Input details of Expenses --}}

<!-- Form for the user to input their expenses -->

{{!-- Savings total, Expenses total and Balance Display --}}
<div class="budget-container">
    <div class="budget-header">
        <div class="balance">
            <div class="title">
                Balance
            </div>
            <div class="value">
                <small>$</small>0
            </div>
        </div>
        <div class="account">
            <div class="savings">
                <div class="title">
                    Budget
                </div>
                <div class="savings-total">
                    <small>$</small>0
                </div>
            </div>
            <div class="expense">
                <div class="title">
                    Expenses
                </div>
                <div class="expense-total">
                    <small>$</small>0
                </div>
            </div>
        </div>
    </div>

    {{!-- Tabs of each List which the user clicks on --}}
    <div class="budget-dashboard">
        <h2>Add Your Expenses Here!</h2>
        <div class="toggle">
            <div class="tab1">Budget</div>
            <div class="tab2">Food</div>
            <div class="tab3">Entertainment</div>
            <div class="tab4">Accomodation</div>
            <div class="tab5">Transport</div>
            <div class="tab6 active">All</div>
        </div>

        {{!-- Savings List --}}
        <div class="hide" id="savings">
            <ul class="list"></ul>
            <div class="input">
                <input type="text" id="savings-title-input" name="title" placeholder="Title">
                <input type="number" id="savings-amount-input" name="amount" placeholder="$0">
                <div class="add-savings"><i class="fas fa-plus fa-2x"></i></div>
            </div>
        </div>

        {{!-- Food List --}}
        <div class="hide" id="food">
            <ul class="list"></ul>
            <div class="input">
                <input class="expense-name" type="text" id="food-title-input" name="title" placeholder="Title">
                <input class="cost" type="number" id="food-amount-input" name="amount" placeholder="$0">
                <div class="add-expense add-food"><i class="fas fa-plus fa-2x"></i></div>
            </div>
        </div>

        {{!-- Entertainment List --}}
        <div class="hide" id="entertainment">
            <ul class="list"></ul>
            <div class="input">
                <input class="expense-name" type="text" id="entertainment-title-input" name="title" placeholder="Title">
                <input class="cost" type="number" id="entertainment-amount-input" name="amount" placeholder="$0">
                <div class="add-expense add-entertainment"><i class="fas fa-plus fa-2x"></i></div>
            </div>
        </div>

        {{!-- Accomodation List --}}
        <div class="hide" id="accomodation">
            <ul class="list"></ul>
            <div class="input">
                <input class="expense-name" type="text" id="accomodation-title-input" name="title" placeholder="Title">
                <input class="cost" type="number" id="accomodation-amount-input" name="amount" placeholder="$0">
                <div class="add-expense add-accomodation"><i class="fas fa-plus fa-2x"></i></div>
            </div>
        </div>

        {{!-- Transport List --}}
        <div class="hide" id="transport">
            <ul class="list"></ul>
            <div class="input">
                <input class="expense-name" type="text" id="transport-title-input" name="title" placeholder="Title">
                <input class="cost" type="number" id="transport-amount-input" name="amount" placeholder="$0">
                <div class="add-expense add-transport"><i class="fas fa-plus fa-2x"></i></div>
            </div>
        </div>
        <div id="all">
            <ul class="list"></ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/expense.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<script src="/js/expense-details.js"></script>
<script src="/js/update-expenses.js"></script>