{{!-- If logged in or after creating a holiday then you are brought here --}}

{{!-- Holiday Info Page --}}

{{#if holidays.length}}
{{#each holidays as |holiday|}}
{{>holiday-details holiday}}
{{/each}}
{{/if}}

<button id='add-expense-btn'>Add Expenses!</button>

<link rel="stylesheet" href="/css/holiday.css">
<script src="/js/holiday-details.js"></script>