{{!-- This is where user is taken once they are logged in --}}
{{!-- Contains budget info --}}

<p>This page will display the user's budget info</p>


{{#if holidays.length}}
{{#each holidays as |holiday}}
{{>holiday-details holiday}}
{{/each}}
{{/if}}
 

