<p id="quote">Good things come in small packages!</p>

<div>
    <p>Welcome to Go The Distance App!</p>
    <p>This is a simple to use holdiday budgeting app to help you track your spending while on your awesome getaway!</p>
</div>