{{!-- Home Page --}}

<div id="welcome">
    <h2>Welcome to Go The Distance App!</h2>
    <p>This is a simple to use holiday budgeting app to help you track your spending while on your awesome getaway!</p>
</div>

<p id="quote">"Good things come in small packages" - Kellie</p>


<link rel="stylesheet" href="/css/homepage.css">