<h2>Sign Up</h2>
<p>Lorem ipsum</p>

<form>
    <div>
        <label for="username">Username</label>
        <input class="form-input" type="text" id="username"/>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email"/>
    </div>
    
   <div>
        <label for="password">Password</label>
        <input id="password" type="password" id="password" />
    </div>

    <div>
        <button id="sign-up-button">Sign Up!</button>
    </div>
</form>

<a href="/login">Login</a>

<script src="/js/signup.js"></script>