{{!-- Sign Up Page --}}

<section id="sign-in-container">
    <h2>Sign Up</h2>

    <form>
        <div>
            <label for="username">Username:</label>
            <input class="form-input" type="text" id="username" />
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" />
        </div>

        <div>
            <label for="password">Password:</label>
            
            <input id="password" type="password"/>
            <p style="font-style: italic;">(Password must be at least 8 characters long!)</p>
        </div>

    </form>

    <div>
        <button id="sign-up-button">Sign Up</button>
    </div>

</section>

<link rel="stylesheet" href="/css/signup.css">
<script src="/js/signup.js"></script>