body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/map.jpg);
    background-size: cover;
}

#create-holiday-container{
    background-color: rgb(255, 255, 255, 0.8);
    border: solid 1.5px black;
    border-radius: 50px;
    z-index: 100;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 31%;
    margin-top: 50px;
}

h2{
    font-size: 30px;
    margin-top: 40px;
}

form{
    text-align: left;
    margin-left: 60px;
}

input{
    margin-top: 20px;
    border-radius: 20px;
    border: solid 1px black;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus{
    outline: none;
}

#destination-list{
    margin-left: 45px;
}

#start-date{
    margin-left: 50px;
}

#end-date{
    margin-left: 55px;
}

#holiday-budget-total{
    margin-left: 10px;
}

#holiday-submit-button {
    font-size: 15px;
    color: white;
    border: none;
    margin-top: 40px;
    background-color: rgb(13, 117, 117);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}