body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/map.jpg);
    background-size: cover;
    color: white;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

#welcome{
    margin-top: 100px;
}

#quote{
    margin-top: 80px;
    font-style: italic;
}